body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: black;
  width: 340px;
  border-radius: 1rem; /* 16px*/
  margin-right: 0.5rem;

}
.nav{
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 1rem;
  justify-content: center;
  height: 128px;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
  

.nav-option:hover{
  opacity: 1;
}

.nav-option i{
  font-size: 1.25rem;
}
.nav-option a{
  font-size: 1rem;
  margin-left: 1rem;
}

.main-content{
  background-color: #121212;
  flex:1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
  padding-bottom: 100px;
}

.music-player{
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
}

a{
  text-decoration: none;
  color: white;
}

.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;

}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 0.5rem 0.75rem;
}


.lib-options img{
  height: 1.25rem;
  width: 1.25rem;
}

.icons{
  font-size: 1.25rem;
  opacity: 0.7;
  margin-right: 1rem;
  display: flex;
}

.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover{
  opacity: 1;
}

.box{
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box-p1{
  font-size: 1rem;
  font-weight: 500;
}

.box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}

.badge{
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
  
}
.dark-badge{
  background-color: #000;
  color:#fff;
}

.sticky-nav{
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 10;
}

.sticky-nav-icons{
  margin-left: 0.75rem;
}
.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin-right: 1rem;
}

@media( max-width:1000px){
  .hide{
    display: none;
  }
}

.card{
  background-color: #232323;
  width: 170px;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card-img{
  width: 100%;
  border-radius: 0.5rem;
}

.card-title{
  font-weight: 600;
}

.card-info{
  font-size: 0.85rem;
  opacity: 0.8;
}

.footer{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: 0.4;

}
.player {
  width: 100%;
  height: 80px; /* Adjust as needed */
  position: fixed;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-controls {
  width: 20vw;
}

.player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.player-controls {
  display: flex;
  align-items: center;
 
}

.volume-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
}

.player-timeline {
  display: flex;
  align-items: center;
}

.timeline-slider {
  margin: 0 10px;
  width: 40vw;
}

.volume-slider {
  width: 100px;
  height: 4px;
}

.timeline-slider:hover,
.volume-slider:hover {
  background-color: #1bd760;
}
.timeline-slider,
.volume-slider {
  -webkit-appearance: none;
  appearance: none;
}

.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}

.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1bd760;
  margin-top: -6px;
}

.timeline-slider:focus,
.volume-slider:focus {
  outline: none;
}

.timeline-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

